# PostgreSQL
POSTGRES_USER=streamvault
POSTGRES_PASSWORD=secret

# JWT
JWT_SECRET=StreamVault-Super-Secret-Key-Change-In-Production-Min-32-Chars!

# Redis
REDIS_URL=redis://redis:6379/0

# Consul
CONSUL_ADDRESS=consul:8500

# RabbitMQ
RABBITMQ_USER=streamvault
RABBITMQ_PASS=secret

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
