# PostgreSQL
POSTGRES_USER=streamvault
POSTGRES_PASSWORD=

# JWT
JWT_SECRET=

# Redis
REDIS_URL=redis://redis:6379/0

# Consul
CONSUL_ADDRESS=consul:8500

# RabbitMQ
RABBITMQ_USER=streamvault
RABBITMQ_PASS=

# MinIO
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
